$intro-margin: 50px;

.intro_component {
    padding: 20px 50px 20px 50px;
    display: inline-block;
    margin-top: $intro-margin;
    margin-bottom: $intro-margin;
    margin-right: $intro-margin;
    height: calc(100vh - #{ ($intro-margin * 2) });
    width: calc(100vw - 655px);
    background-color: white;
    vertical-align: top;
}
