<div class="left_nav_component animated slideInLeft">
    <div class="search_header">
        <input class="search" placeholder="Where would you like to eat?" type="text" ng-model="search">
    </div>
    <div class="search_results">
        <ad-restaurant-tile venue="venue" ng-repeat="venue in venues"></ad-restaurant-tile>

        <div ng-if="venues.length === 0" class="placeholder">
            <img height="300px" width="300px" src=https://louisbichard.github.io/foursquare-demo/img/plate.jpeg" alt="">
            <p class="placeholder_text">Oops! No culinary delights here</p>
            <p class="placeholder_text">Try broadening your search</p>
        </div>
        <div ng-if="!venues" class="placeholder">
            <img src="https://louisbichard.github.io/foursquare-demo/img/arrow.png" alt="">
            <p class="placeholder_text">Start searching for culinary delights!</p>
        </div>
    </div>
</div>
