$left-nav-width: 500px;
$left-nav-search-header-height: 100px;
$left-nav-margin: 20px;
.left_nav_component {
    box-shadow: $shadow;
    margin: $left-nav-margin;
    .search_header {
        position: fixed;
        z-index: 1;
        width: $left-nav-width;
        background-color: $main-color-lightest;
        height: $left-nav-search-header-height;
        .search {
            width: 100%;
            margin: 5px;
            padding: 10px;
            border-radius: 2px;
            border: 0px;
            &:focus {
                outline: none;
            }
        }
    }
    .search_results {
        margin-top: $left-nav-search-header-height;
        overflow-y: scroll;
        height: calc(100vh - #{ ($left-nav-search-header-height + ($left-nav-margin * 2) ) });
    }
    display: inline-block;
    width: $left-nav-width;
}
