$main-color-lightest: #E0F7FA;
$main-color-light: #80DEEA;
$main-color-medium: #26C6DA;
$main-color-dark: #00ACC1;
$main-color-darkest: #00838F;

$greyscale-lightest: #FAFAFA;
$greyscale-light: #EEEEEE;
$greyscale-medium: #BDBDBD;
$greyscale-dark: #757575;
$greyscale-darkest: #424242;

$accent-color-lightest: #FBE9E7;
$accent-color-light: #FFAB91;
$accent-color-medium: #FF7043;
$accent-color-dark: #F4511E;
$accent-color-lightest: #E64A19;
$accent-color-darkest: #D84315;