body {
    font-family: 'Maven Pro', sans-serif;
    // Prevent full page scroll appearing, it looks ugly
    overflow: hidden;
    .main_content_component {
        display: block;
        .map_component {
            vertical-align: top;
            display: inline-block;
            width: 60%;
        }
    }
}
