<div class="restaurant_tile_component">
    <h2>{{venue.name}}</h2>
    <!-- Todo: convert to paragraph with class -->
    <div ng-repeat="address_field in venue.location.formattedAddress">
        {{address_field}}
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default" aria-label="Left Align">Website</button>
        <button type="button" class="btn btn-default" aria-label="Center Align">Menu</button>
        <button type="button" class="btn btn-default" aria-label="Right Align">Order</button>
        <button type="button" class="btn btn-default" aria-label="Justify">Phone</button>
    </div>
    
    <!--     <p>
        <a href="{{venue.url}}">Website</a>
    </p> -->
    <!--     <div ng-repeat="category in venue.categories">
        <p>{{category.shortName}}</p>
        IMG: {{category.icon}}
        <img ng-src="{{category.icon.prefix}}{{category.icon.suffix}}" alt="">
    </div> -->
    <!-- <h2>Stats</h2>
    <p>Check ins: {{venue.stats.checkinsCount}}</p>
    <p>User count {{venue.stats.usersCount}}</p>
    <p>Tip {{venue.stats.tipCount}}</p>
    <h2>Delivery</h2>
    <a href="{{venue.delivery.url}}">
                        Delivery
                    </a>
    <h2>Here now!</h2>
    <p>Here now!: {{venue.hereNow.count}}</p> -->
</div>
