<div class="restaurant_tile_component" ng-click="showOnMap(venue)">
    <h2 class="restaurant_header">{{venue.name}}</h2>
    <!-- Todo: convert to paragraph with class -->
    <div class="details">
        <div class="address">
            <div ng-repeat="address_field in venue.location.formattedAddress">
                {{address_field}}
            </div>
        </div>
        <div class="properties">
            <p><span class="stat"> {{venue.stats.checkinsCount}}</span> Check-ins</p>
            <p><span class="stat"> {{venue.stats.tipCount}}</span> Tips</p>
        </div>
    </div>
    <div class="actions">
        <div class="btn-group">
            <button 
                ng-click="goToWebsite(venue); $event.stopPropagation()"
                type="button" 
                class="btn btn-default" 
                aria-label="Left Align"
            >
                <i class="fa fa-laptop" aria-hidden="true"></i>
                Website
            </button>
            <button 
                ng-click="goMenu(venue); $event.stopPropagation()"
                type="button" 
                class="btn btn-default" 
                aria-label="Center Align"
            >
                <i class="fa fa-book" aria-hidden="true"></i>
                Menu
            </button>
            <button 
                ng-click="goOrder(venue); $event.stopPropagation()"
                type="button" 
                class="btn btn-default" 
                aria-label="Right Align"
            >
                <i class="fa fa-cutlery" aria-hidden="true"></i>
                Order
            </button>
            <button 
                ng-click="goPhone(venue); $event.stopPropagation()"
                type="button" 
                class="btn btn-default" 
                aria-label="Justify"
            >
                <i class="fa fa-phone" aria-hidden="true"></i>
                Phone
            </button>
        </div>
    </div>
    <!--     <p>
        <a href="{{venue.url}}">Website</a>
    </p> -->
    <!--     <div ng-repeat="category in venue.categories">
        <p>{{category.shortName}}</p>
        IMG: {{category.icon}}
        <img ng-src="{{category.icon.prefix}}{{category.icon.suffix}}" alt="">
    </div> -->
    <!-- <h2>Stats</h2>
    <p>Check ins: {{venue.stats.checkinsCount}}</p>
    <p>User count {{venue.stats.usersCount}}</p>
    <p>Tip {{venue.stats.tipCount}}</p>
    <h2>Delivery</h2>
    <a href="{{venue.delivery.url}}">
                        Delivery
                    </a>
    <h2>Here now!</h2>
    <p>Here now!: {{venue.hereNow.count}}</p> -->
</div>
