<div>
    <h1>{{venue.name}}</h1>
    <p>
        <a href="{{venue.url}}">Website</a>
    </p>
    <h2>Categories</h2>
    <div ng-repeat="category in venue.categories">
        <p>{{category.shortName}}</p>
        IMG: {{category.icon}}
        <img ng-src="{{category.icon.prefix}}{{category.icon.suffix}}" alt="">
    </div>
    <h2>Stats</h2>
    <p>Check ins: {{venue.stats.checkinsCount}}</p>
    <p>User count {{venue.stats.usersCount}}</p>
    <p>Tip {{venue.stats.tipCount}}</p>
    <h2>Delivery</h2>
    <a href="{{venue.delivery.url}}">
                        Delivery
                    </a>
    <h2>Here now!</h2>
    <p>Here now!: {{venue.hereNow.count}}</p>
</div>
